$primary_color: #ff80bf;

body {
  background-color: $primary_color;
  font: {
    color: #660031;
    family: Georgia, serif;
    size: 20px;
  }
}

a {
  color: #800040;
  img {
    border: none;
  }
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
  width: 75%;
  margin: 0 auto;
  background: #ffe6f2;
  padding: 20px 40px;
  border: solid 3px #ffffff;
  margin-top: 20px;
}

#content {
  clear: both;
  padding-top: 20px;
}